/* index.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

header{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffffff;

}

header img{

  height: 120px;

}

header a {
  text-decoration: none;
  font-weight: bold;

}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 40px;
  font-size: 25px;
  
}

nav ul li a{

  color: #32919d;
  transition: font-size 0.3s;

}

.usuario-inicio {
  display: flex;
  gap: 30px;
  
}

.inicio-sesion{

  display: flex;
  flex-direction: column;
  

}

.inicio-sesion input{

  margin: 5px;

}

.inicio-sesion button{

  margin: 5px;
  border-radius: 4px;

}

.boton-usuario {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-color: #787c88;
  color: #fff;
  border-radius: 4px;
}

.boton-usuario a{
  color: #fff;
  text-decoration: none;

}

.boton-usuario:hover {
  background-color: #4ab51f;
  color: #ffffff;

}

nav ul li a:hover{

  font-size: 22px;

}

input {
  padding: 4px 8px;
}

.boton-buscar{

  cursor: pointer;
  font-weight: bold;
}


footer{

  background-color: #333;


}
