/* index.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

header{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffffff;

}

header img{

  height: 120px;

}

header a {
  text-decoration: none;
  font-weight: bold;

}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 40px;
  font-size: 25px;
  
}

nav ul li a{

  color: #5c5dc4;

}

.usuario-inicio {
  display: flex;
  gap: 30px;
  
}

.inicio-sesion{

  display: flex;
  flex-direction: column;

}

.boton-usuario {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-color: #333;
  color: #fff;
}

.boton-usuario:hover {
  background-color: #fff;
  color: #5c5dc4;

}


input {
  padding: 4px 8px;
}

footer{

  background-color: #333;


}
