/* index.css */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

header{

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

}

header img{

  height: 120px;

}

header img:hover{

  transform: translateY(-5px);

}

header a {
  text-decoration: none;
  font-weight: bold;

}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 40px;
  font-size: 25px;
  
}

nav ul li a{

  color: #32919d;
  transition: font-size 0.3s;

}

nav ul li a:hover{
  color: #1d5e66;

}

/*LOGIN/REGISTRO*/
.usuario-inicio {
  display: flex;
  gap: 20px;
  
  
}

.inicio-sesion{

  display: flex;
  flex-direction: column;
  gap: 5px;
  

}

.inicio-sesion input{

  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.inicio-sesion button{

  margin-top: 5px;
  border-radius: 4px;

}

.boton-usuario {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-color: #787c88;
  color: #fff;
  border-radius: 4px;
}

.boton-usuario a{
  color: #fff;
  text-decoration: none;

}

.boton-usuario:hover {
  background-color: #4ab51f;
  color: #ffffff;

}

nav ul li a:hover{

  font-size: 22px;

}


header input {
  padding: 4px 8px;
}


footer{

  
  background-color: #c1a2a2;
  
  padding: 40px;
  

}

footer .footer-items{
  
  display: flex;
  text-align: center;
  

}

.footer-descripcion h3{
  
  font-size: 24px;

}

.footer-descripcion p{

  margin: 5px 0 15px;

}

.footer-enlaces ul {
  list-style: none;
  padding: 0;

}

.proyecto-footer p{

  color: black;

}